# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Vim support files
*.swp
.ropeproject/*

# PyCharm support files
.idea/

# Media files
testproj/media_root/*

# Distribution files
dist/
django_auth_media.egg-info/
